name: Lint & Unit test

"on":
  workflow_call:
    inputs:
      gems:
        required: false
        type: string
        default: ""
      platform:
        required: false
        type: string
        default: "ubuntu-latest"

jobs:
  rspec:
    # Some RSpec tests require a Windows environment
    runs-on: ${{ inputs.platform }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Install Chef
        uses: actionshub/chef-install@2.0.4
      - name: Install Gems
        run: chef gem install -N "${{ inputs.gems }}"
        if: ${{ github.event.inputs.gems != '' }}
        env:
          CHEF_LICENSE: accept-no-persist
      - name: Run RSpec
        run: chef exec rspec -f j -o tmp/rspec_results.json -f p
        env:
          CHEF_LICENSE: accept-no-persist
      - name: RSpec Report
        uses: SonicGarden/rspec-report-action@v2.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          json-path: tmp/rspec_results.json
        if: always()

  cookstyle:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Install Chef
        uses: actionshub/chef-install@2.0.4
      - name: Run Cookstyle
        run: chef exec cookstyle --display-cop-names --extra-details
        env:
          CHEF_LICENSE: accept-no-persist

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Run yaml Lint
        uses: actionshub/yamllint@main

  markdownlint-cli2:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Run Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v9
        with:
          globs: "**/*.md"

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          check-modified-files-only: "yes"
          base-branch: "main"

  check-metadata:
    runs-on: ubuntu-latest
    permissions:
      checks: write # required for the status check
      pull-requests: write # required for the PR comment
      statuses: write # required for the status check
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check Metadata
        uses: damacus/check-chef-metadata-action@0.2.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
